# Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Archivos temporales
*.log
*.tmp